body{
    /* background-color: burlywood; */
    background-image: url("beans.jpg");
    font-family: sans-serif;
    padding: 20px;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
}

h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    margin-bottom: 0;

}

.menu{
    /* width: 80%; */
    max-width: 500px;
    background-color: burlywood;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

hr{
    height: 2px;
    background-color: brown;
    border-color: brown;
}

.CafeName{
    text-align: center;
}

.CafeEst{
    text-align: center;
    font-style: italic;
}

.coffee{
    text-align: center;
}

.flavor{
    width: 75%;
    text-align: left;
}

.price{
    width: 25%;
    text-align: right;
}

.item p {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
}

.bottom-line{
    margin-top: 25px;
}

.photo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* footer */

footer {
    font-size: 14px;
}

footer a{
    color: brown;
}

a:visited {
    color: black;
}

a:hover {
    color: brown;
}

a:active {
    color: white;
}

.address {
    margin-bottom: 5px;
}